.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9995;
  background: rgba(105, 98, 98, 0.75);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  z-index: 20001;
  overflow: hidden;
  background: white;
  border-radius: 0.5rem;
}

.header {
  background: #e29624;
  padding: 1rem;
  border-radius: 0.5rem;
}

.header h2 {
  margin: 0;
  color: white;
}

.content {
  padding: 1rem;
  white-space: pre-wrap;
}

.action {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}