.modal {
  position: fixed;
  top: 40%;
  left: 30%;
  /* transform: translate(-50%, -40%); */
  min-width: 30%;
  z-index: 9999;
  overflow: visible;
  background: white;
  border-radius: 0.5rem;
  border: 2px solid #070707;
}